<!--<!--headernav.html-->

<div id="header-container" class="navbar-fixed-top page-scroll">

    <div class="nav-menu">
        <span class="navbar-toggle" ng-click="shl.menuToggle()" data-toggle="collapse" data-target=".sidebar-collapse">
            <i class="fa fa-navicon bigger-150"></i>
        </span>
        <a class="logo" ui-sref="/">
            <div class="logo-desktop"><img src="images/logo.png" /></div>
            <div class="logo-mobile"><img src="images/logo.png" /></div>
        </a>
    </div>
    <div id="sub-menu" class="text-right">
        <ul class="navbar-right top-bar">
            <li class="top-bar-hidden-xs"><label>Hello, {{shl.lv.UserName}}!</label></li>
            <li><a ng-show="shl.lv.customerProfile && shl.lv.isTermsService" href="" title="Log Out" ng-click="shl.LogOut()">Log Out</a></li>
        </ul>
    </div>
</div>
