
.icon-phone-circled:before { content: '\e800'; } /* '' */
.icon-lightbulb:before { content: '\e801'; } /* '' */
.icon-book:before { content: '\e802'; } /* '' */
.icon-water:before { content: '\e803'; } /* '' */
.icon-heart:before { content: '\e804'; } /* '' */
.icon-home:before { content: '\e805'; } /* '' */
.icon-search:before { content: '\e806'; } /* '' */
.icon-star:before { content: '\e807'; } /* '' */
.icon-user:before { content: '\e808'; } /* '' */
.icon-cab-1:before { content: '\e809'; } /* '' */
.icon-ok:before { content: '\e80a'; } /* '' */
.icon-cancel:before { content: '\e80b'; } /* '' */
.icon-plus:before { content: '\e80c'; } /* '' */
.icon-camera:before { content: '\e80d'; } /* '' */
.icon-help-circled:before { content: '\e80e'; } /* '' */
.icon-ok-circled:before { content: '\e80f'; } /* '' */
.icon-cancel-circled:before { content: '\e810'; } /* '' */
.icon-link:before { content: '\e812'; } /* '' */
.icon-nursing:before { content: '\e813'; } /* '' */
.icon-info-circled:before { content: '\e814'; } /* '' */
.icon-flag:before { content: '\e815'; } /* '' */
.icon-tags:before { content: '\e816'; } /* '' */
.icon-lock:before { content: '\e817'; } /* '' */
.icon-comment:before { content: '\e818'; } /* '' */
.icon-pencil:before { content: '\e819'; } /* '' */
.icon-export:before { content: '\e81a'; } /* '' */
.icon-attention-circled:before { content: '\e81b'; } /* '' */
.icon-location:before { content: '\e81c'; } /* '' */
.icon-calendar:before { content: '\e81d'; } /* '' */
.icon-phone:before { content: '\e81e'; } /* '' */
.icon-clock:before { content: '\e81f'; } /* '' */
.icon-right-open:before { content: '\e820'; } /* '' */
.icon-left-open:before { content: '\e821'; } /* '' */
.icon-down-dir:before { content: '\e822'; } /* '' */
.icon-up-dir:before { content: '\e823'; } /* '' */
.icon-left-big:before { content: '\e824'; } /* '' */
.icon-right-big:before { content: '\e825'; } /* '' */
.icon-map:before { content: '\e829'; } /* '' */
.icon-art-gallery:before { content: '\e82b'; } /* '' */
.icon-home-1:before { content: '\e82f'; } /* '' */
.icon-diapersss:before { content: '\e830'; } /* '' */
.icon-childcare:before { content: '\e831'; } /* '' */
.icon-rattle:before { content: '\e832'; } /* '' */
.icon-globe:before { content: '\f018'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-lightbulb-1:before { content: '\f0eb'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-tree:before { content: '\f1bb'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-birthday:before { content: '\f1fd'; } /* '' */