<div ng-controller="CustomerHome as fo">
    <div id="two-button-box">
        <div id="two-button">
            <div class="col-xs-12 no-padding linkButton" style="text-align: center;">
                <a title="Connect Now" ng-click="fo.contactMe()" class="button button-green" style="margin-left: 10px;margin-right: 10px;">Connect Now</a>
                <a title="Schedule Appointment" ng-click="fo.addAppointment()" class="button button-green" style="margin-left: 10px;margin-right: 10px;">Schedule Appointment</a>
            </div>
            <div class="col-xs-12" style="margin-top: 20px;">
                <label>
                    Note: We use Skype to bring you this awesome custom sticker experience. You must have the Skype App installed on this device before you connect with a designer. Don't have Skype App yet? Download and create a Free Account <a href="https://go.skype.com/scom.download" target="_blank"><b>here</b></a>.
                </label>
            </div>
        </div>
    </div>
</div>