<div set-footer>
    <div class="page-head-container" fix-height>
        <div class="col-sm-12 header-flex">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 col-lmsx-8 col-lms-9 col-lm-9 col-l-9 col-xl-9 col-xxl-10">
                <label class="main-heading">{{ fo.lv.title }}</label>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-5 col-lg-4 col-lmsx-4 col-lms-3 col-lm-3 col-l-3 col-xl-3 col-xxl-2">
                <div class="button-container">
                    <a title="Save" ng-click="fo.save()" class="button button-green">Save</a>
                </div>
            </div>
        </div>
    </div>

    <form name="CustomerProfileForm" id="CustomerProfileForm">
        <div class="container-page">
            <div class="page-with-dashboard" fix-form-height style="padding-top:{{fo.lv.topHeightPaddingOne}}">
                <div class="col-lg-12 section-height">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12">


                                    <!--<div class="col-sm-12">
                                        <div class="successfully-login-msg">You've successfully authenticated. Please enter additional information below and click save to finish logging in.</div>
                                    </div>-->

                                    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-4">
                                        <label class="glyphicon-asterisk control-label">First name</label>
                                        <input type="text" class="form-control" autocomplete="off" name="firstName" maxlength="60" ng-required="true" ng-model="fo.vm.FirstName" />
                                        <div class="field-validation-error">
                                            <div ng-messages="CustomerProfileForm.firstName.$error" ng-if="CustomerProfileForm.firstName.$touched || fo.lv.isFormInvalid">
                                                <span ng-message="required">Required</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-4">
                                        <label class="control-label">Middle name</label>
                                        <input type="text" class="form-control" autocomplete="off" name="middleName" maxlength="60" ng-model="fo.vm.MiddleName" />
                                        <div class="field-validation-error">
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-4">
                                        <label class="glyphicon-asterisk control-label">Last name</label>
                                        <input type="text" class="form-control" autocomplete="off" name="lastName" maxlength="60" ng-required="true" ng-model="fo.vm.LastName" />
                                        <div class="field-validation-error">
                                            <div ng-messages="CustomerProfileForm.lastName.$error" ng-if="CustomerProfileForm.lastName.$touched || fo.lv.isFormInvalid">
                                                <span ng-message="required">Required</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-4">
                                        <label class="glyphicon-asterisk control-label">Contact number</label>
                                        <input type="text" class="form-control" autocomplete="off" name="contactNumber" maxlength="15" ng-required="true" ng-model="fo.vm.ContactNo" />
                                        <div class="field-validation-error">
                                            <div ng-messages="CustomerProfileForm.contactNumber.$error" ng-if="CustomerProfileForm.contactNumber.$touched || fo.lv.isFormInvalid">
                                                <span ng-message="required">Required</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-4">
                                        <label class="glyphicon-asterisk control-label">Email</label>
                                        <input type="text" ng-pattern="/^[_a-z_A-Z0-9]+(\.[_a-z_A-Z0-9]+)*@[a-z_A-Z0-9-]+(\.[a-z_A-Z0-9-]+)*(\.[a-z_A-Z]{2,5})$/" class="form-control" autocomplete="off" name="email" maxlength="60" ng-required="true" ng-model="fo.vm.EmailID" />
                                        <div class="field-validation-error">
                                            <div ng-messages="CustomerProfileForm.email.$error" ng-if="CustomerProfileForm.email.$touched || fo.lv.isFormInvalid">
                                                <span ng-message="required">Required</span>
                                                <span ng-message="pattern">Invalid</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-4">
                                        <label class="control-label">Skype id</label>
                                        <input type="text" class="form-control" autocomplete="off" name="skypeID" maxlength="60" ng-model="fo.vm.SkypeID" />
                                        <div class="field-validation-error">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="col-xs-12 col-sm-12">
                                        <label class="section-heading">Billing Address</label>
                                    </div>
                                </div>

                                <div class="col-sm-12">

                                    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-4">
                                        <label class="control-label">Country</label>
                                        <select ng-required="fo.lv.isRequired" name="country" ng-options="s.ID as s.Name for s in fo.lv.countryList" ng-model="fo.vm.CountryID" ng-change="fo.getStateList(fo.vm.CountryID)"></select>
                                        <div class="field-validation-error">
                                            <div ng-messages="CustomerProfileForm.country.$error" ng-if="CustomerProfileForm.country.$touched || fo.lv.isAddressFormInvalid">
                                                <span ng-message="required">Required</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-4">
                                        <label class="control-label">Address line 1</label>
                                        <input type="text" class="form-control" autocomplete="off" name="addressLine1" maxlength="60" ng-required="fo.lv.isRequired" ng-model="fo.vm.Address1" />
                                        <div class="field-validation-error">
                                            <div ng-messages="CustomerProfileForm.addressLine1.$error" ng-if="CustomerProfileForm.addressLine1.$touched || fo.lv.isAddressFormInvalid">
                                                <span ng-message="required">Required</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-4">
                                        <label class="control-label">Address line 2</label>
                                        <input type="text" class="form-control" autocomplete="off" name="addressLine2" maxlength="60" ng-model="fo.vm.Address2" />
                                        <div class="field-validation-error">

                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-4">
                                        <label class="control-label">City</label>
                                        <input type="text" class="form-control" autocomplete="off" name="city" maxlength="60" ng-required="fo.lv.isRequired" ng-model="fo.vm.City" />
                                        <div class="field-validation-error">
                                            <div ng-messages="CustomerProfileForm.city.$error" ng-if="CustomerProfileForm.city.$touched || fo.lv.isAddressFormInvalid">
                                                <span ng-message="required">Required</span>
                                            </div>
                                        </div>
                                    </div>
                                     
                                    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-4" ng-hide="fo.lv.stateNameTextBox">
                                        <label class="control-label">State</label>
                                        <select ng-required="fo.lv.isRequired" name="state" ng-options="s.Value as s.Text for s in fo.lv.stateList" ng-model="fo.vm.StateID" ng-change="fo.selectedState()"></select>
                                        <div class="field-validation-error">
                                            <div ng-messages="CustomerProfileForm.state.$error" ng-if="CustomerProfileForm.state.$touched || fo.lv.isAddressFormInvalid">
                                                <span ng-message="required">Required</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-4" ng-show="fo.lv.stateNameTextBox">
                                        <label class="control-label">State</label>
                                        <input type="text" ng-model="fo.lv.StateName" name="stateName" ng-required="fo.lv.isRequired" />
                                        <div class="field-validation-error">
                                            <div ng-messages="CustomerProfileForm.stateName.$error" ng-if="CustomerProfileForm.stateName.$touched || fo.lv.isAddressFormInvalid">
                                                <span ng-message="required">Required</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-4">
                                        <label class="control-label">Zip code</label>
                                        <input type="text" class="form-control" autocomplete="off" name="zipcode" ng-minlength="fo.lv.minLength" maxlength="{{fo.lv.maxLength}}" ng-required="fo.lv.isRequired" ng-model="fo.vm.PostalCode" />
                                        <div class="field-validation-error">
                                            <div ng-messages="CustomerProfileForm.zipcode.$error" ng-if="CustomerProfileForm.zipcode.$touched || fo.lv.isAddressFormInvalid">
                                                <span ng-message="required">Required</span>
                                                <span ng-message="pattern">Invalid</span>
                                                <span ng-message="minlength">Minimum {{fo.lv.minLength}} digit required.</span>
                                            </div>
                                        </div>
                                    </div>
                                     
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row col-sm-12 col-xs-12">
        <div style="padding-bottom:{{fo.lv.setFooterPaddingForm}}"></div>
    </div>
</div>

<div class="page-footer">&nbsp;</div>