<!DOCTYPE html>
<html style="overflow-x:hidden">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        <div class="col-sm-12">
            <div id="login-box">
                <div id="login">
                    <div class="form-group formNotice">
                        <div class="col-xs-12">
                            <div class="logo-desktop logo-desktop-login">
                                <img style="margin-left:auto;margin-right:auto;" class="img-responsive" src="images/logo.png" />
                            </div>
                            <div class="logo-mobile logo-mobile-login">
                                <img style="margin-left:auto;margin-right:auto;" class="img-responsive" src="images/logo.png" />
                            </div>
                            <!--<button class="btn-block button button-green btn-fontsize" type="button" ng-click="shl.authenticate('Google')"> Sign in with Google Account </button>-->
                            <button class="btn-block button button-green btn-fontsize" type="button" ui-sref='/' ng-click="shl.Login();"> Sign In with Google Account </button>
                        </div>
                    </div>
                    <div style="margin-top:50px">
                        <div class="start-up-msg"><h5 style="color:red;margin-top:50px;">{{shl.lv.errorMessage}}</h5> </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</body>
</html>